*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: #3d3d3d;
	width:400px;
}
#main{
	margin: 5px 10px;
	overflow: hidden;
}
h1{
	color:#f6f8f9;
	text-align: center;
	font-family: monospace;
}
.filter{
	border-bottom: 1px solid #636363;
	padding-bottom: 10px;
}
.introduction p, span{
  color:#f6f8f9;
  line-height: 16px;
  font-family: monospace;
  word-wrap: break-word;
  margin: 10px 5px;
}
span{
	float: left;
}
.filter-field textarea{
	background-color: #f6f8f9;
	border: 1px solid #d8dfe3;
	font-size: 10px;
	color:black;
	margin: 10px 75px;
}
.filter-field{
   width: 350px;
  float: left;
  clear: both;
}
.filter-field button{
	margin-right: 15px;
    float: right;
	background-color: #f6f8f9;
	color: black;
	border-radius: 5px;
	width: 50px;
}

.clear-all{
	clear:both;
}
#jira-board-view{
  padding: 10px 0px;
  text-align: center;
}
#board-button{
	padding:15px 30px 15px 30px;
	margin:0 1px 0 0;
	text-decoration:none;
	text-align:center;
	color:#7f8c8d;
	cursor:pointer;
	background:#1a1a1a;
	border:1px solid #34495e;
	font-size: 14px;
	font-weight: bold;
}